@font-face {
  font-family: 'Miss20-Regular';
  src: url('../font/Miss20-Regular.eot');
  src: url('../font/Miss20-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Miss20-Regular.svg#Miss20-Regular') format('svg'),
       url('../font/Miss20-Regular.ttf') format('truetype'),
       url('../font/Miss20-Regular.woff') format('woff'),
       url('../font/Miss20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}