$grey: rgba(0,0,0,0.7);
$grey-dark: rgba(0,0,0,0.8);
$grey-darker: rgba(0,0,0,0.9);
$primary: #d93731;

// Vendors
@import "vendors/bootstrap/scss/bootstrap";

// Modules
@import "tools";
@import "font";
@import "modules/check";
@import "modules/golden-logo";
@import "modules/animation";
@import "modules/mark";
@import "modules/coffer";
@import "modules/dice";
@import "modules/dice-shapes";
@import "modules/mark";
@import "modules/dice-track";
@import "modules/side-pannel";
@import "modules/setting";
@import "modules/modal-setting";

body {
	background-color: Cornsilk;
}
#AboutThisAppBtn {
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 2;
}
@media (max-width: 576px) {
	#AboutThisAppBtn {
		top: 0.5em;
		left: 0.5em;
		right: inherit;
		bottom: inherit;
		z-index: 100;
	}
}
body,
.less-dices-btn,
.more-dices-btn {
    touch-action: manipulation;
}

@supports (-webkit-touch-callout: none) {
	.game-container {
		height: calc(var(--vh, 1vh) * 100);
	}
   /* CSS specific to iOS devices */ 
}
.form-check-inline {
	margin-right: 0.6rem;
}