$grey: rgba(0,0,0,0.7);
$grey-dark: rgba(0,0,0,0.8);
$grey-darker: rgba(0,0,0,0.9);
$primary: #d93731;

// Vendors
@import "vendors/bootstrap/scss/bootstrap";

// Modules
@import "modules/dice";
@import "modules/board";

body {
	background-color: Cornsilk;
}
#AboutThisAppBtn {
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 999;
}
@media (max-width: 576px) {
	#AboutThisAppBtn {
		top: 1em;
		left: 1em;
		right: inherit;
		bottom: inherit;
	}
}