$board-padding: 7px;
$board-first-border: 3px;
$border-color: rgba(255,255,255,0.5);

$dice-color: MintCream;
$dot-color: $primary;

.board {
	width: 750px;
	height: 750px;
	margin-left: 1em;
	position: relative;
	overflow: hidden;
	background: $grey-darker;

	border: solid $board-first-border +2px $border-color;
	.notice {
		display: none;
		font-style: italic;
		opacity: 0.5;
		color: white;
		position: absolute;
		z-index: 2;
		width: 100%;
		left: 0;
		text-align: center;
		bottom: $board-padding * 4;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before {
		width: calc(100% - (#{$board-padding} * 2) + 4px);
		height: calc(100% - (#{$board-padding} * 2) + 4px);
		top: $board-padding -2px;
		left: $board-padding -2px;

		border: solid $board-first-border $border-color;
	}
	&:after {
		width: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
		height: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
		top: $board-padding + $board-first-border + $board-padding - 4px;
		left: $board-padding + $board-first-border + $board-padding - 4px;

		border: solid 2px $border-color
	}

	&-title {
		margin-right: 1em;
		min-width: 60px;
	}

	&-bg {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-image: url('../img/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20%;
		opacity: 0.5;
	}

	&_saved-dices,
	.board_score {
		line-height: 1em;
		font-style: italic;
		opacity: 0.5;
		color: white;
		position: absolute;
		bottom: $board-padding * 4;
		right: $board-padding * 4;
	}



	&-controls {
		padding: 1em;
		background: $grey-darker;
		position: relative;
		border: solid $board-first-border +2px $border-color;

		* {
			position: relative;
			color: white;
			z-index: 2;
		}
		.dice {
			span {
    			pointer-events: none;
			}
		}
		h3 {
			line-height: 1em;
			margin-bottom: 0;
		}
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
		}
		&:before {
			width: calc(100% - (#{$board-padding} * 2) + 4px);
			height: calc(100% - (#{$board-padding} * 2) + 4px);
			top: $board-padding - 2px;
			left: $board-padding - 2px;

			border: solid $board-first-border $border-color;
		}
		&:after {
			width: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
			height: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
			top: $board-padding + $board-first-border + $board-padding - 4px;
			left: $board-padding + $board-first-border + $board-padding - 4px;

			border: solid 2px $border-color;
		}

		.dice {
			position: static;
			display: block;
			float: left;
			margin-right: 1em;
			margin-top: 0 !important;
			margin-bottom: 1em !important;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		
		&.max-dice-number {
			.less-dices-btn {
				&:after {
					content: "max";
					font-size: 12px;
					color: white;
					font-style: italic;
					font-weight: normal;
				    position: absolute;
				    right: -3em;
				    top: 0.3em;
				}
			}
			#diceNumber {
				opacity: 0;
			}
		}
		&.more-dice-disable {
			.more-dices-btn {
				pointer-events: none;
				cursor: not-allowed;
				opacity: 0.6;
			}
		}
		&.game-disabled {
			#rollBtn {
				pointer-events: none;
				cursor: not-allowed;
				opacity: 0.6;
			}
		}

		&-title {
			font-weight: bold;
			font-size: 0.9em;
		}
		&_control {
			padding: 1em;
			line-height: 1em;
			align-items: center;
			border-bottom: solid 1px $border-color;
			display: flex;
			&.is-btn {
				border: none;
			}
		}

		&_saved-dices {
			position: relative;
			margin: 1em;
			.marks {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
			}
			.mark {
				padding: 0;
				margin-left: -3px;
				margin-top: -3px;
				box-sizing: content-box;
				position: absolute;
				background-color: $grey;
				border: solid 3px rgba(255,255,255,0.3);
				box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.3);
				top: 0;
				left: 0;
				&.saved {
					border-color: $dot-color;
					box-shadow: 0px 0px 15px 2px rgba(white,0.3);
				}
			}
		}
		&_saved-dices,
		&_turn-info {
			display: none;
		}
		&_turn-infos {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
			width: calc(100% - 2rem);
		}
		&_turn-info {
			padding: 1em;
			line-height: 1em;
			border-top: solid 1px $border-color;
			&.is-score,
			&.is-rolls-count {
				opacity: 0.5;
			}
			&.is-score {
				border-bottom: solid 1px $border-color;
			}
		}
		.btn-link {
			color: $primary;
		}
	}
}


.board_dice-container {
	width: 100%;
	position: relative;
	z-index: 99;
}

.less-dices-btn,
.more-dices-btn {
	cursor: pointer;
	text-shadow: 0px 0px 5px  rgba(0,0,0,1);
	color: $primary;
	display: inline-block;
	padding: 0 0.5em;
	&:hover {
		color: darken($primary, 5%);
	}
	&:active {
		color: darken($primary, 10%);
	}
}
.less-dices-btn,
.more-dices-btn,
.dices-number {
	user-select: none;
	font-size: 30px;
	line-height: 1em;
	font-weight: 700;
}
.dices-number {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    margin: 0 10px;
}
@mixin mark-maker($size) {
	@if $size == xxs {
		$dice-size: 20px;
		$dice-border: 2px;
		$dice-radius: 4px;
		$dot-size: 4px;
		$dot-border: 1px;
		$border-spacing: 0.5em;
		margin-left: -2px;
		margin-top: -2px;
		border-width: 2px;

		height: $dice-size;
		width: $dice-size;
		border-radius: $dice-radius + 3px;
		left: 0;
		// Horizontal positionning
		&:nth-child(5n + 2) {
			left: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(5n + 3) {
			left: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		&:nth-child(5n + 4) {
			left: calc((3 * #{$dice-size}) + 3 * #{$border-spacing}) !important;
		}
		&:nth-child(6n + 5) {
			left: calc((4 * #{$dice-size}) + 4 * #{$border-spacing}) !important;
		}

		// Vertical positionning
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
			top: 0!important;
		}
		&:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
			top: calc(#{$dice-size} + #{$border-spacing}) !important;
		}
	} 
	@if $size == xs {
		$dice-size: 27px;
		$dice-border: 2px;
		$dice-radius: 4px;
		$dot-size: 6px;
		$dot-border: 1px;
		$border-spacing: 1em;

		height: $dice-size;
		width: $dice-size;
		border-radius: $dice-radius + 3px;

		// Horizontal positionning
		&:nth-child(3n + 2) {
			left: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(3n + 3) {
			left: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		// Vertical positionning
		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			top: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(7), &:nth-child(8), &:nth-child(9) {
			top: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		&:nth-child(10), &:nth-child(11), &:nth-child(12) {
			top: calc((3 * #{$dice-size}) + 3 * #{$border-spacing});
		}
	} 

	@else if $size == sm {
		$dice-size: 40px;
		$dice-border: 5px;
		$dice-radius: 8px;
		$dot-size: 8px;
		$dot-border: 1px;
		$border-spacing: 1em !default;

		height: $dice-size;
		width: $dice-size;
		border-radius: $dice-radius + 3px;

		// Horizontal positionning
		&:nth-child(3n + 2) {
			left: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(3n + 3) {
			left: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		// Vertical positionning
		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			top: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(7), &:nth-child(8), &:nth-child(9) {
			top: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		&:nth-child(10), &:nth-child(11), &:nth-child(12) {
			top: calc((3 * #{$dice-size}) + 3 * #{$border-spacing});
		}
	}

	@else if $size == lg {
		$dice-size: 60px !default;
		$dice-border: 5px !default;
		$dice-radius: 14px !default;
		$dot-size: 12px !default;
		$dot-border: 2px !default;
		$border-spacing: 1em !default;

		height: $dice-size;
		width: $dice-size;
		border-radius: $dice-radius + 3px;

		// Horizontal positionning
		&:nth-child(3n + 2) {
			left: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(3n + 3) {
			left: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		// Vertical positionning
		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			top: calc(#{$dice-size} + #{$border-spacing});
		}
		&:nth-child(7), &:nth-child(8), &:nth-child(9) {
			top: calc((2 * #{$dice-size}) + 2 * #{$border-spacing});
		}
		&:nth-child(10), &:nth-child(11), &:nth-child(12) {
			top: calc((3 * #{$dice-size}) + 3 * #{$border-spacing});
		}
	}
}

@mixin board-control-width-maker($size: lg) {
		$dice-size: 60px !default;
		$dice-border: 5px !default;
		$dice-radius: 14px !default;
		$dot-size: 12px !default;
		$dot-border: 2px !default;
		$border-spacing: 1em !default;

	@if $size == xxs {
		$dice-size: 20px;
		$dice-border: 2px;
		$dice-radius: 4px;
		$dot-size: 4px;
		$dot-border: 1px;
		$border-spacing: 0.5em;
		
		.board-controls_saved-dices {
			margin: $border-spacing 0 $border-spacing $border-spacing;
		}
		.board-controls_saved-dices,
		.board-controls_turn-infos {
			width: calc((5 * #{$dice-size}) + 4 * #{$border-spacing});
		}
		.board-controls_saved-dices {
			height: calc(2 * #{$dice-size} + 1 * #{$border-spacing});
		}
	}
	@if $size == xs {
		$dice-size: 27px;
		$dice-border: 2px;
		$dice-radius: 4px;
		$dot-size: 6px;
		$dot-border: 1px;
		
		&_saved-dices {
			width: calc((3 * 27px) + 2 * #{$border-spacing});
		}
	}
	@else if $size == sm {
		$dice-size: 40px;
		$dice-border: 5px;
		$dice-radius: 8px;
		$dot-size: 8px;
		$dot-border: 1px;

		flex: 0 0 calc((3 * #{$dice-size}) + 8 * #{$border-spacing} - 6px);
		&_saved-dices {
			height: calc(3 * #{$dice-size} + 2 * #{$border-spacing});
		}
	}
	@else {
		width: calc((3 * #{$dice-size}) + 7 * #{$border-spacing});
		&_saved-dices {
			height: calc(3 * #{$dice-size} + 2 * #{$border-spacing});
		}
	}
}
@media (min-width: 1059px) {
	.board-controls_saved-dices .mark {
		@include mark-maker(lg);
	}
}
.board-controls {
	@include board-control-width-maker();
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 1058px) {

	.game-container {
		flex-wrap: inherit !important;
	}
	.dice-track-container {
		width: 100%;
	}
	.board {
		width: 100%;
		height: 560px;
		margin-left: 0;
		&-controls {
			@include board-control-width-maker(sm);
			font-size: 12px;
			.board-title {
				display: none;
			}
			&:before {
				width: calc(100% - (#{$board-padding} * 2) + 4px);
				height: calc(100% - (#{$board-padding} * 2) + 4px);
				top: $board-padding - 2px;
				left: $board-padding - 2px;

				border: solid $board-first-border $border-color;
			}
			&:after {
				display: none;
				width: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
				height: calc(100% - (#{$board-padding} * 2) - 6px - (#{$board-first-border} * 2));
				top: $board-padding + $board-first-border + $board-padding - 4px;
				left: $board-padding + $board-first-border + $board-padding - 4px;

				border: solid 2px $border-color;
			}
			&_saved-dices .mark {
				@include mark-maker(sm);
			}
		}
	}
}
@media (max-width: 575px) {

	.game-container {
		flex-direction: column-reverse;
		height: 100vh;
	}
	.dice-track-container {
		flex: 1;
	}
	@include board-control-width-maker(xxs);
	.board {
		width: 100%;
		height: 100%;
		margin-left: 0;
		font-size: 12px;
		&:after,
		&-controls:after {
			display: none;
		}
		&-controls {
			width: 100%;
			flex-direction: row-reverse;
    		display: flex;
    		&_turn-infos {
				bottom: 1em;
    		}
    		&_turn-info {
    			padding: 0.5em;
    			&.is-clear {
    				position: absolute;
    				left: 118px;
    				bottom: 0.4em;
    				border: none;
    				padding: 0;
    				.btn {
    					color: $primary !important;
    					padding: 0 0.5em;
    					text-decoration: none;
    				}
    			}
    			&.is-rolls-count,
    			&.is-score {
    				display: none !important;
    			}
    		}
			&_saved-dices {
				.dice {
					@include dice-maker(xxs);
					left: inherit;
					margin-right: 0.5em;
					margin-bottom: 0.5em !important;
					margin-top: 0 !important;
					position: static;
					&:nth-child(3n) {
						margin-right: 0.5em;
					}
					&:nth-child(5n) {
						margin-right: 0;
					}
				}
				.mark {
					@include mark-maker(xxs);
				}
			}
    		&_control {
    			border-bottom: none;
    			padding: 0.5em;
    			&.is-secondary {
    				display: none;
    			}
    			&.is-btn {
					display: flex;
					flex-direction: column;
					padding-right: 0.2em;
					.btn {
						flex: 1;
						line-height: 2em;
					}
    			}
    			&.is-dice-number {
    				display: block;
    				padding: 0 1.5em 0 0;
    				text-align: center;
    			}
    			.dices-number {
				    top: 50%;
				    right: 0;
				    line-height: 1em;
				    margin-top: -0.5em;
    				margin-right: 0;
    				position: absolute;
    			}
    			.less-dices-btn, 
    			.more-dices-btn {
    				display: block;
    				padding-left: 0.3em;
    				padding-right: 0.3em;
    			}
    		}
			&.max-dice-number {
    			.less-dices-btn {
    				&:after {
    					right: -2em;
    					top: 1.35em;
    				}
    			}
			}
    		.board-title {
    			display: none;
    		}
			.main-title {
				display: none !important;
			}
		}
		.board_score {
			bottom: 1.5em;
			right: 1.5em;
		}
		.notice {
			width: 50%;
			bottom: 1.5em;
			text-align: left;
			left: 1.5em;
		}
	}
}