$dice-color: MintCream;
$dice-size: 60px;
$dice-border: 5px;
$dice-radius: 14px;

$dot-color: $primary;
$dot-size: 12px;
$dot-border: 2px;

.dice {
	display: block;
	position: relative;
	z-index: 2;
	margin: 20px 0;
	width: $dice-size;
	height: $dice-size;
	background: white;
	border-radius: $dice-radius;
	cursor: pointer;
	background: $dice-color;
	background-image: url('../img/marble.webp');
	background-size: cover;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2), 0px 0px 2px 2px rgba(0,0,0,0.2);

	transition: all 400ms ease-in-out;
	left: calc(50% - (#{$dice-size} / 2));
	transform: rotate(0deg);

	&.bg-white {
		background-image: url('../img/marble.webp');
	}
	&.bg-black {
		background-image: url('../img/marble-black.jpg');
		box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1), 0px 0px 2px 0px rgba(0,0,0,0.2);
		&:before {
			background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
		}
	}

	// Inside shadow
	&:before {
		content: "";
		display: block;
		width: $dice-size - ($dice-border * 2);
		height: $dice-size - ($dice-border * 2);
		position: absolute;
		border-radius: $dice-radius -$dice-border;
		top: $dice-border;
		left: $dice-border;
		background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
	}

	// Outside wide shadow
	&:after {
		content: "";
		display: block;
		width: $dice-size;
		height: $dice-size;
		position: absolute;
		border-radius: $dice-radius;
		top: 0;
		left: 0;
		box-shadow: 0px 10px 15px 15px rgba(0,0,0,0.05);
	}

	// Dots
	span {
		display: none;
		position: relative;	
		width: $dot-size;
		height: $dot-size;	
		border-radius: 50%;
		background: $dot-color;
		position: absolute;

		box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
		
		// Inside shadow
		&:before {
			content: "";
			display: block;
			width: $dot-size - ($dot-border * 2);
			height: $dot-size - ($dot-border * 2);
			position: absolute;
			border-radius: $dice-radius -$dot-border;
			top: $dot-border;
			left: $dot-border;
			background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
		}

	}

	&.unrolled {
		left: 150%;
		transform: rotate(300deg);
	}

	&[data-number='1'] {
		span:first-child {
			display: block;
			left: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
			top: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
		}
	}
	&[data-number='2'],
	&[data-number='3'] {
		span:first-child,
		span:nth-child(2) {
			display: block;
		}
		span:first-child {
			top: 15%;
			left: 15%;
		}
		span:nth-child(2) {
			bottom: 15%;
			right: 15%;
		}
	}
	&[data-number='3'] {
		span:nth-child(3) {
			display: block;
		}
		span:nth-child(3) {
			left: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
			top: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
		}
	}
	&[data-number='4'] {
		span:first-child,
		span:nth-child(2),
		span:nth-child(3),
		span:nth-child(4) {
			display: block;
		}
		span:nth-child(1) {
			bottom: 15%;
			right: 15%;
		}
		span:nth-child(2) {
			bottom: 15%;
			left: 15%;
		}
		span:nth-child(3) {
			top: 15%;
			right: 15%;
		}
		span:nth-child(4) {
			top: 15%;
			left: 15%;
		}
	}
	&[data-number='5'] {
		span:first-child,
		span:nth-child(2),
		span:nth-child(3),
		span:nth-child(4),
		span:nth-child(5) {
			display: block;
		}
		span:nth-child(1) {
			bottom: 15%;
			right: 15%;
		}
		span:nth-child(2) {
			bottom: 15%;
			left: 15%;
		}
		span:nth-child(3) {
			top: 15%;
			right: 15%;
		}
		span:nth-child(4) {
			top: 15%;
			left: 15%;
		}
		span:nth-child(5) {
			left: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
			top: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
		}
	}
	&[data-number='6'] {
		span:first-child,
		span:nth-child(2),
		span:nth-child(3),
		span:nth-child(4),
		span:nth-child(5),
		span:nth-child(6) {
			display: block;
		}
		span:nth-child(1) {
			bottom: 12%;
			right: 15%;
		}
		span:nth-child(2) {
			bottom: 12%;
			left: 15%;
		}
		span:nth-child(3) {
			top: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
			right: 15%;
		}
		span:nth-child(4) {
			top: calc((#{$dice-size} / 2) - (#{$dot-size} / 2));
			left: 15%;
		}
		span:nth-child(5) {
			top: 12%;
			right: 15%;
		}
		span:nth-child(6) {
			top: 12%;
			left: 15%;
		}
	}
}